.App {
  text-align: center;
  font-size: medium;
}

.containerMaps{

}

.containerPedidos {
  width: 100vw;
  height: 92.5vh;
  display: flex;
  position: absolute;
  z-index: -1;
  justify-content: center;
  align-items: flex-end;
}

.Pedidos {
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 600px;
  width: 80%;
  height: 40%;
  text-align: center;
  font-style: italic;
  font-size: large;
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin-left: 10%;
}

.title {
  text-align: center;
}

.display_orders{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_order_2{
  display:flex;
  flex-direction: column;
  overflow-y: scroll;
}

.container_order_4{
  display:flex;
  margin: 10px;
  background: #fbaa29;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border:2px solid black;
}

.container_order_4:hover{
  opacity: 0.8;
}


.container_order_text_2{
  padding-left: 16px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

imgs{
  max-width: 50px;
}

.fim{
  margin: 5px;
}